<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="scss/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
    </head>

    <body>
        <header class="site-header">
            <a href="index.html" class="site-header__title">
                <h1><%= name %></h1>
            </a>
        </header>

        <%- partial("_components/nav") %>

        <section class="content <%= contentTag %>">
            <%- yield %>
        </section>

        <%- partial("_components/footer") %>
    </body>
</html>
